[submodule "other_providers/vale"]
	path = other_providers/vale
	url = https://github.com/project-everest/vale.git
[submodule "other_providers/libsodium"]
	path = other_providers/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "other_providers/openssl"]
	path = other_providers/openssl
	url = https://github.com/openssl/openssl.git
