*~
*.o
*.d
*.d.*
*.cm*
*.so
*.dll
*.a
*.exe
*.exe.dSYM
out.krml
*.checked
*.checked.lax
*.dump
.extracted
.*depend*
.evercrypt_config
/_opam
/duniverse
/*.opam.locked
code/**/dist
!code/**/dist/Makefile
code/old/experimental/aesgcm/aesgcm-c
code/old/experimental/aesgcm/aesgcm-c89
*.orig
.didhelp
.last_vale_version
Makefile.config
.#*
tests/benchmark/build
dist/**/lib/*_stubs.ml
dist/**/lib/*_c_stubs.c
_build
config.h
*.smt2
