asmopt.mak
bin/*
build/*
build_util/*
config.log
framework/include/asmopt.h
framework/include/asmopt_internal.h
framework/include/util_implementations.h
example
example-util
!example/
vs201*/ipch/*
vs201*/*.sdf
vs201*/*.suo
vs201*/*.user
