name: Create branch on hacl-packages

on:
  pull_request_target:
    branches: [ main ]

jobs:
  hacl-packages-create-branch:
    runs-on: ubuntu-latest
    steps:
      - name: checkout hacl-star
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: hacl-star
      - name: checkout hacl-packages
        uses: actions/checkout@v3
        with:
          repository: cryspen/hacl-packages
          path: hacl-packages
          token: ${{ secrets.HACL_BOT }}
      - name: install dependencies
        run: |
          sudo apt-get install -y ninja-build
      - name: update hacl-packages
        working-directory: hacl-packages
        run: |
          ./mach update -s ../hacl-star
      - name: push to hacl-packages
        working-directory: hacl-packages
        run: |
          branch=hacl-star-${{ github.head_ref }}
          token=${{ secrets.HACL_BOT }}
          git config --local user.name "Hacl Bot"
          git config --local user.email "hacl-star@mailo.com"
          git checkout -b $branch
          git add src include
          git commit --allow-empty -m "[CI] update code"
          git push --force --set-upstream  origin $branch
      - name: comment pr
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            [CI] Important!
            The code in `dist/gcc-compatible`, `dist/msvc-compatible`, and `dist/wasm`
            is tested on [cryspen/hacl-packages](https://github.com/cryspen/hacl-packages).
            `dist` is not automatically re-generated, be sure to do it manually.
            (A fresh snapshot can also be downloaded from [CI](https://everest-ci.paris.inria.fr/jobset/hacl-star/branch-${{ github.head_ref }}).)
            Then check the following tests before merging this PR.
            Always check the latest run, it corresponds to the most recent version of this branch.
            All jobs are expected to be successful.
            In some cases manual intervention is needed. Please ping the hacl-packages maintainers.
            - [Build, Test, Benchmark](https://github.com/cryspen/hacl-packages/actions?query=branch%3Ahacl-star-${{ github.head_ref }}+workflow%3Abuild_pull_request): Build on Linux (x86, x64), Windows (x86, x64), MacOS (x64, arm64), s390x, Android (arm64) and test on Linux (x86, x64), Windows (x86, x64), MacOS (x64).
            - [Performance Regression Tests](https://github.com/cryspen/hacl-packages/actions?query=branch%3Ahacl-star-${{ github.head_ref }}+workflow%3Abenchmark_pull_request): Navigate to the terminal output in “Run benchmarks”. The comparison with the main branch will be at the bottom. The run fails if the performance regresses too much.
            - [OCaml bindings](https://github.com/cryspen/hacl-packages/actions?query=branch%3Ahacl-star-${{ github.head_ref }}+workflow%3Aocaml): Build & Tests
            - [JS bindings](https://github.com/cryspen/hacl-packages/actions?query=branch%3Ahacl-star-${{ github.head_ref }}+workflow%3Ajs): Build & Tests
            - [Rust bindings](https://github.com/cryspen/hacl-packages/actions?query=branch%3Ahacl-star-${{ github.head_ref }}+workflow%3Arust): Build & Tests
          comment_includes: "[CI]"
