name: regenerate hints and dist

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  regenerate-hints-and-dist:
    runs-on: self-hosted
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: regenerate hints and dist
        run: |
          nix build .#hacl.passthru.build-products
          git rm -r hints dist/*/*
          tar -xvf result/hints.tar
          tar -xvf result/dist.tar

      - name: commit changes
        run: |
          git config --local user.name "Hacl Bot"
          git config --local user.email "hacl-star@mailo.com"
          git add hints dist
          git commit -m "[CI] regenerate hints and dist"

      - name: avoid trivial changes
        run: |
          [[ 1 -lt $(git diff --compact-summary HEAD~.. | grep -v INFO.txt | wc -l) ]]

      - name: create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.HACL_BOT }}
          branch: "hints-and-dist-main"
          title: "[CI] regenerate hints and dist"
